<!DOCTYPE html>
<html>
  <%- include('../inc/head') %>
  <body>
    <%- include('../inc/header') %>

    <h1>Мой Твиттер</h1>
    <div class="tweet-form">
      <textarea id="tweet-text" placeholder="Напишите ваш твит..."></textarea>
      <button id="tweet-button">Твитнуть</button>
    </div>
    <div id="tweets"></div>
    <script src="/js/script.js"></script>
    <%- include('../inc/footer') %>
  </body>
</html>
